<!-- section -->
<div
  class="flex flex-col items-center justify-start gap-2.5 text-[#4d77ff] mt-12"
>
  <b class="inline-block leading-5">راه حلی آسان</b
  ><b class="text-3xl text-[#121212]">مرحله به مرحله درمان شما</b>
</div>
<div
  class="direction flex flex-col md:flex-row justify-around items-center mt-7 mx-10"
>
  <div class="soulation-card">
    <div>
      <img
        class="soultaion-icon"
        alt=""
        src="../../assets/public/iconlybulksearch.svg"
      />
    </div>
    <b class="soultaion-title"> شکایات بهداشتی را بررسی کنید</b>
    <p class="soultaion-text">
      بیماری را بررسی کنید تا بتوانید<br />به راحتی متخصص مناسب را انتخاب کنید
    </p>
  </div>
  <div class="soulation-card">
    <div>
      <img
        class="soultaion-icon"
        alt=""
        src="../../assets/public/iconlybulkprofile.svg"
      />
    </div>
    <b class="soultaion-title"> متخصص خود را انتخاب کنید</b>
    <p class="soultaion-text">
      باتوجه به بیماری خود <br />
      متخصص مورد را نیاز انتخاب کنید .
    </p>
  </div>
  <div class="soulation-card">
    <div>
      <img
        class="soultaion-icon"
        alt=""
        src="../../assets/public/iconlybulkcalendar.svg"
      />
    </div>
    <b class="soultaion-title">یک وقت رزرو کنید</b>
    <p class="soultaion-text">
      یک قرار با دکتر بزارید<br />
      بنابراین شما میتوانید شروع کنید <br />
      به بیان حل مشکل .
    </p>
  </div>

  <div class="soulation-card">
    <div>
      <img
        class="soultaion-icon"
        alt=""
        src="../../assets/public/iconlybulkstar.svg"
      />
    </div>
    <b class="soultaion-title">راه حل خود را پیدا کنید</b>
    <p class="soultaion-text">
      پس از انجام معاینه <br />با یک متخصص می توانیم روش درمانی <br />صحیح شما
      را پیدا کنیم.
    </p>
  </div>
</div>
<!-- sectioon -->
<div
  class="flex flex-col md:flex-row justify-between mb-8 items-center mt-32 mx-20 overflow-hidden"
>
  <div class="flex text-center md:text-right flex-[2] flex-col direction">
    <p class="text-[#4d77ff] font-bold">پیدا کردن دکتر</p>
    <p class="text-3xl my-4 font-bold">
      پیدا کردن دکتر متخصص مطابق نیازهای شما
    </p>
    <p class="text-[#696969] mb-4">
      HealthCare یک برنامه بهداشتی رایگان است که فراتر از تطبیق شما با پزشکان
      است. این به طور فعال به شما کمک می کند تا پزشک مناسب را بر اساس نیازهای
      پزشکی و شخصی خود پیدا کنید و شما را با HealthCarely خود مرتبط می کند جامعه
      برای حمایت مداوم در طول سفر شما به سوی زندگی سالم تر
    </p>
    <div class="flex text-center md:text-right items-center mb-4">
      <img alt="" src="../../assets/public/group-32.svg" />
      <div class="mr-2">
        ۱۰۰٪ برنامه رایگان طراحی شده برای کمک به شما در پیدا کردن پزشک مناسب
        برای شما.
      </div>
    </div>
    <div class="flex items-center mb-4">
      <img alt="" src="../../assets/public/group-32.svg" />
      <div class="mr-2">
        ۱۰۰٪ برنامه رایگان طراحی شده برای کمک به شما در پیدا کردن پزشک مناسب
        برای شما.
      </div>
    </div>
    <div>
      <button
        class="rounded-lg mt-4 mb-2 bg-[#4d77ff] py-3 px-5 justify-center text-white text-sm"
      >
        مشاهده دکترها
      </button>
    </div>
  </div>
  <div class="flex-1">
    <img
      class="female-doctor-fococlipping-removed"
      alt=""
      src="../../assets/public/istockphoto.png"
    />
  </div>
</div>

<!-- sectioon -->

<div
  class="flex mx-20 flex-col md:flex-row justify-between mb-32 items-center mt-32 overflow-hidden"
>
  <div class="flex-1">
    <img
      class="female-doctor-fococlipping-removed"
      alt=""
      src="../../assets/public/group-4@2x.png"
    />
  </div>
  <div class="flex text-center md:text-right flex-1 flex-col direction">
    <p class="text-[#4d77ff] font-bold">گرفتن وقت</p>
    <p class="text-3xl my-4 font-bold">
      از قبل با پزشک در دسترس برنامه ریزی کنید
    </p>
    <p class="text-[#696969] mb-4">
      مراقبت های بهداشتی فرآیند بسیار دردناکی است، به خصوص اگر مراقب سلامتی خود
      نباشید و معاینات منظم انجام دهید. HealhtyCarely برنامه ریزی قرار ملاقات با
      پزشک را برای همه آسان تر می کند.
    </p>
    <div class="flex text-center md:text-right items-center mb-4">
      <img alt="" src="../../assets/public/group-32.svg" />
      <div class="mr-2">برنامه ریزی آنلاین آسان است</div>
    </div>
    <div class="flex items-center mb-4">
      <img alt="" src="../../assets/public/group-32.svg" />
      <div class="mr-2">ارتباط آسان با دکتر</div>
    </div>
    <div>
      <button
        class="rounded-lg mt-4 mb-2 bg-[#4d77ff] py-3 px-5 justify-center text-white text-sm"
      >
        گرفتن وقت
      </button>
    </div>
  </div>
</div>
