@import url("https://v1.fontapi.ir/css/Shabnam:100;300;400;500;700");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Shabnam", sans-serif;
  background-color: #f2f7ff;
}
li {
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .soulation-card {
    @apply border-t-[3px] border-solid border-[#4f77ff] flex flex-col bg-white p-5 shadow-lg w-60 h-56 mb-4;
  }
  .soultaion-icon {
    @apply w-11 h-11;
  }
  .soultaion-title {
    @apply mt-5;
  }
  .soultaion-text {
    @apply text-[#696969];
  }
}
